*{margin: 0;padding: 0;}
.menu{
    background-color: #c0392b;
    /*border-radius: 10px;*/
    
}
.menu > div> ul{
/**comentarios **/
list-style: none;
display: flex;

}
.menu> div> ul> li{
    padding: 5px;
}

.menu-link{
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.menu-link:hover{
    text-decoration: underline;
}

.titulo{
    background: linear-gradient(#c0392b, #e74c3c);
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.450);
}

.titulo-mod{
    background-color: white;
    border-radius: 5px;
    color: #c0392b;
    text-transform: uppercase;
    padding: 1px;
    padding-top: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.450);
}

.box{
    max-width: 1200px;
    margin: 0 auto;
}

.imagem-rodape{

}